{% extends "layout.html" %}
{% block content %}

<section class="section-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="py-sm-3 mt-sm-3 lead">
                <h1>Automation of Fuel Stations for Optimum Customer Experience</h1>
                <br>
                <h2>Problem Statements</h2>
                <br>
                <b>This project is tackling three major issues Indian vehicle owners and Fuel
                stations are suffering with:</b>
                <br>
                <br>
                <ol>  
                <b><li>Long and Cumbersome lines in front of fuel stations:</li></b>
                <br>
                    <p>Both the vehicle owners and fuel station owners doesn't want these long lines as
                    no one wants to wait an hour just to fill up the tank which is merely 2-3 minute
                    job. On the other hand long lines can cause various customers to think using
                    other station instead of standing in a line, which in turn affects business.
                    </p>    

                    
                <b><li>Over utilization and Under utilization of Fuel stations:</li></b>
                    <br>
                    <p>
                    According to many reports the stations inside the busy area of the city are over
                    utilized, and those which are in remote areas, outskirts of the city are
                    underutilized. Thus resulting in a huge class imbalance. 
                    </p>

                <b><li>Enhanced Customer Experience:</li></b>
                <br>    
                <p>
                    Almost every industry in our country is gone digital and can provide services in
                    more customized and sophisticated manner but only the oil and gas industry
                    still lacking behind and we are still not making any progress to make the
                    customer experience better.
                </p>
                </ol>
                <h2>How this works?</h2>
                <ul>
                <p>
                <li><b>Step 1</b>: Create an account.</li>
                First of all <a href="{{ url_for('register') }}">register</a> on the website using your basic details.
                <br>
                <li><b>Step 2:</b> Log in to your account with your email and password.</li>
                log in to your account to recieve real time fuel station traffic updates nearby your live location.
                <br>    
                <li><b>Step 3:</b> Go to your profile page</li>
                In your profile page all the details regarding fuel stations are available. You can browse through and check 
                which one is nearest and vaxant during your time.
                <br>
                <li><b>What next?</b></li>
                Now once registered users visit the fuel stations our device will process the Automatic Number Plate Recognition and the vehicle
                once identified will be registered in the database as a client for that particular fuel station. 
                
                </ul>
                </p>
            </p>

        </div>
    </div>
</div>
</section>    

{% endblock content %}





