{% extends "layout.html" %}
{% block content %}
<section class="section-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="py-sm-3 mt-sm-3 lead">
                <h2>Credits.</h2>
                <br>
                <p>This project would not be possible without the open source community contributions and some other invaluable resources.</p>
                <br>
                <ul>
                    <b><li>Backend Reference:  </b><a href="https://coreyms.com/">CoreyMS</a> </li> 
                    <br>  
                    <b><li>Frontend Reference:  </b><a href="https://morphedo.com/">Morphedo Technologies Pvt. Ltd</a></li>
                    <br>
                    <b><li>Home page Wallpaper:  </b><a href="https://www.pinterest.com/pin/651755377308522546/">pinterest</a></li>        
                </ul>
            </p>
        </div>
    </div>
</div>
</section>     

{% endblock content %}