{% extends "layout.html" %}
{% block content %}
<h1>WELCOME</h1>
<br>
<h3>Getting Started:</h3>    
<p>
    This website deal is created to rectify the issues faced by the 
    Indian population and fuel station owners.</p>    
<h3>How to maximise benefits:</h3> 
<br>  
    <section id="two">
        <div class="inner">
            <header class="major">
                <h3>The Customers:</h3>
            </header>
            <br>
            <b>Step 1:</b> Register with your details 
            <br>
            <br>
            <b>Step 2:</b> Log in with your email and password
            <br>
            <br>
            <b>Step 3:</b> See the real-time data of fuel stations rush and average waiting time.
            <br>
            <br>
            <b>Step 4:</b> On special query, you can see the real-time images of the fuel station which are updated every 30 minutes.[beta]
            <br>
            <br>
            <!-- <ul class="actions">
                <li><a href="about.html" class="button next">Next Page</a></li>
            </ul> -->
        </div>
    </section>
    <section id="two">
        <div class="inner">
            <header class="major">
                <h3>The Fuel Station Owners:</h3>
            </header>
            <br>
            <b>Step 1:</b> Deploy our special cameras in your stations
            <br>
            <br>
            <b>Step 2:</b> Register with us 
            <br>
            <br>
            <b>Step 3:</b> Know your customers and enhance your customer relations
            <br>
            <br>
            <b>Step 4:</b> Increase revenue and sort the chaos 
            <br>
            <br>
            <!-- <ul class="actions">
                <li><a href="about.html" class="button next">Next Page</a></li>
            </ul> -->
        </div>
    </section>


{% endblock content %}
