{% extends "layout.html" %}
{% block content %}
<img class="img-fluid w-100" src="{{ image }}/home.jpg">

<section class="section-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ image }}/anpr2.jpg">
            </div>
            <div class="col-md-8">
                <p class="py-sm-3 mt-sm-3 lead">
                    <span class="blue">Quick</span><span class="yellow">Fuel</span>
                    incorporates two major revenue generating industries, first one is
                    Automobile and the second one is Oil and Gas industry. The project is a proposal
                    on how Indian petroleum pumps should structure their customer serving for optimal
                    customer experience.Indian petrol pumps which are situated in high profile areas 
                    are almost overcrowded every time and those which are present in remote areas are
                    not even making enough revenue for their survival.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-2 bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ image }}/anpr.png">
            </div>
            <div class="col-md-8">
                <h2 class="display-4 blue mt-sm-5">
                    Real Time Updates of Fuel Stations <br /> 
                </h2>
                <p class="h2 yellow">Plan your visits from home</p>
            </div>
        </div>
    </div>
</section>

<section class="section-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ image }}/anpr-solution2.png">
            </div>
            <div class="col-md-8 text-center">
                <div class="row my-sm-5">
                    <div class="col-sm-6">
                        <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                            <img class="img-fluid mx-auto my-3" src="{{ image }}/1.live-data.png">
                            <p class="caption">Live Data
                                Monitoring</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                            <img class="img-fluid mx-auto my-3" src="{{ image }}/2.detect-leakage.png">
                            <p class="caption">Customer Experience</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                            <img class="img-fluid mx-auto my-3" src="{{ image }}/3.interlinked-network.png">
                            <p class="caption">Interlinked
                                Network</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                            <img class="img-fluid mx-auto my-3" src="{{ image }}/4.business-and-finance.png">
                            <p class="caption">Monitor your
                                consumption</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
