<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>QuickFuel - {{ title }}</title>
    {% else %}
        <title>QuickFuel</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">QuickFuel</a>
          <div class="media">
        </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              <a class="nav-item nav-link" href="https://adityakalra581.github.io/Automated-fuel-stations/"target="_blank">Docs</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
            </div>  
            <div class="dropdown">
              <button class="dropbtn">Login
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a class="nav-item nav-link" href="{{ url_for('login') }}">User Login</a>
                <a class="nav-item nav-link" href="#">Admin Login</a>
              </div>
            </div>  
                <!-- <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a> -->
                <!-- <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a> -->
              <div class="dropdown">
                <button class="dropbtn">Register
                  <i class="fa fa-caret-down"></i>
                </button>
              <div class="dropdown-content">
                <a class="nav-item nav-link" href="{{ url_for('register') }}">User Register</a>
                <a class="nav-item nav-link" href="#">Admin Register</a>
              </div>
            </div>  
              {% endif %}
            </div>
              <div class="dropdown">
                <button class="dropbtn">Menu
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Paper</a>
                  <a href="https://github.com/adityakalra581"target="_blank">Github</a>
                  <a href="{{ url_for('contact') }}">Contact</a>
                  <a href="#">DOCS</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>PROJECT</h3>
            <p class='text-muted'>GROUP MEMBERS.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">ADITYA KALRA</li>
                <li class="list-group-item list-group-item-light">JAIDEEP PURI</li>
                <li class="list-group-item list-group-item-light">JYOTI BHOLLA</li>
                <li class="list-group-item list-group-item-light">AGNIV BISWAS</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <div class="contact">
      <h2></h2>
      <div class="media">
        <img class="content-img" src="{{ image }}/logo1.jpeg">
    </div>
      <p>QuickFuel is created as part of the Capstone project. 
        This website here is created for educational purposes only 
        and not for production.<br>
        This site is created and maintained 
        by <a href="https://adityakalra581.github.io/ak/">Aditya Kalra.</a></p>
    </div>
   


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
