{% extends "layout.html" %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-sm-4 mb-1">
                    <div class="profile text-center mx-auto mb-3">
                        <img class="img-fluid" src="{{ image_file }}">
                    </div>
                    <h2 class="h4 text-center text-capitalize">{{ current_user.username }}</h2>
                    <ul class="list-group list-group-flush  profile-info">
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Registered Email"><img class="img-fluid" src="{{ image }}/mail_icon.png"> {{ current_user.email }}</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Registered Contact"><img class="img-fluid" src="{{ image }}/phone.png"> {{ current_user.mobile }}</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Aadhar ID"><img class="img-fluid" src="{{ image }}/aadhar.png"> {{ current_user.aadhar_num }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-sm-2 mb-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                            <p class="h3">Fuel Stations Visited</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" data-placement="right" title="In Kilograms">
                            Station Name
                        <span class="badge badge-primary badge-pill">None</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" data-placement="right" title="In Kilograms">
                            Fuel Amount
                        <span class="badge badge-primary badge-pill">None</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" data-placement="right" title="In Kilograms">
                            Fuel Price
                        <span class="badge badge-primary badge-pill">None</span>
                        </li>
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" data-placement="right" title="In INR">
                            
                        <span class="badge badge-primary badge-pill">{{ current_user.recharge }}</span>
                        </li> -->
                    </ul>
                    <div class="row my-sm-5">
                        <div class="col-sm-6">
                            <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                                <img class="img-fluid mx-auto my-3" src="{{ image }}/cng1.jpg">
                                <p class="caption2">Punjabi Bagh West CNG Station<br>
                                    Average Waiting Time: 25 Minutes</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                                <img class="img-fluid mx-auto my-3" src="{{ image }}/west-punjabibagh1.jpg">
                                <p class="caption">Rohini Sec-15 CNG Station<br>
                                    Average Waiting Time: 15 Minutes</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                                <img class="img-fluid mx-auto my-3" src="{{ image }}/auto-care-centre-pitampura-pitampura-delhi-petrol-pumps.jpg">
                                <p class="caption">Auto care centre pitampura<br>
                                    Average Waiting Time: 25 Minutes</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="features card p-2 shadow-sm border-0 mb-3 mb-sm-0">
                                <img class="img-fluid mx-auto my-3" src="{{ image }}/fuel2.jpg">
                                <p class="caption2">Naman care centre Rohini<br>
                                    Average Waiting Time: 20 Minutes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
                    <!-- <div class="card-footer"></div> -->
        </div>
    </div>
{% endblock content %}