{% extends "layout.html" %}
{% block content %}

    <h4>Search</h4>
      <form class = "form-inline" method = "GET" action = "search">
        <div class = "form-group">
          <label for="query">Name</label>
          <input type = "text" class = "form-control" name ="query">
        </div>
      <button type = "submit" class = "btn btn-primary">Search</button>
      </form>
     <br>
     <br>   
     <table class="minimalistBlack">
      <thead>
      <tr>
      <th>NAME</th>
      <th>ADDRESS</th>
      <th>STATE</th>
      <!-- <th>head4</th>
      <th>head5</th> -->
      </tr>
      </thead>
      <tfoot>
      <tr>
      <td>foot1</td>
      <td>foot2</td>
      <td>foot3</td>
      <!-- <td>foot4</td>
      <td>foot5</td> -->
      </tr>
      </tfoot>
      <tbody>
      <tr>
      <tr>
        {% for i in query %}
        <tr>
          <td>
            {{ i.name }}
          </td>
          <td>
              {{ i.address }}
          </td>
          <td>
              {{ i.state }}
          </td>
        </tr>
        {% endfor %}
      </tr>  
      </tbody>
      </table>

{% endblock content %}