{% extends "layout.html" %}
{% block content %}
<h1>Automation of Fuel Stations for Optimum Customer Experience</h1>
<br>
<h2>Problem Statements</h2>
<br>
<b>This project is tackling three major issues Indian vehicle owners and Fuel
stations are suffering with:</b>
<br>
<br>
<ol>  
<b><li>Long and Cumbersome lines in front of fuel stations:</li></b>
<br>
    <p>Both the vehicle owners and fuel station owners doesn't want these long lines as
    no one wants to wait an hour just to fill up the tank which is merely 2-3 minute
    job. On the other hand long lines can cause various customers to think using
    other station instead of standing in a line, which in turn affects business.
    </p>    

    
<b><li>Over utilization and Under utilization of Fuel stations:</li></b>
    <br>
    <p>
    According to many reports the stations inside the busy area of the city are over
    utilized, and those which are in remote areas, outskirts of the city are
    underutilized. Thus resulting in a huge class imbalance. 
    </p>

<b><li>Enhanced Customer Experience:</li></b>
<br>    
<p>
    Almost every industry in our country is gone digital and can provide services in
    more customized and sophisticated manner but only the oil and gas industry
    still lacking behind and we are still not making any progress to make the
    customer experience better.
</p>
</ol>    

{% endblock content %}





